<h1>Easy Notification Sample</h1>
<p>Click one of the buttons below to trigger an API call.  The API result will be deocrated with the type of notification to show.  The notification will be shown automatically.</p>
<div class="text-center">
  <button (click)="callAction('success')" type="button" class="btn btn-success">Success</button>
  <button (click)="callAction('info')" type="button" class="btn btn-info">Info</button>
  <button (click)="callAction('alert')" type="button" class="btn btn-default">Alert</button>
  <button (click)="callAction('warning')" type="button" class="btn btn-warning">Warning</button>
  <button (click)="callAction('error')" type="button" class="btn btn-danger">Error</button>
</div>

<div *ngIf="result" style="padding-top: 2em;">
  <pre>{{result}}</pre>
</div>


